html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  text-decoration: none;
  opacity: 1;
}
/* width */

::-webkit-scrollbar {
  width: 2px;
  height: 10px;

  cursor: pointer !important;
}

/* button */

::-webkit-scrollbar-button {
  background: #000000;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(116, 157, 211, 0.12);
  border-radius: 20px;
  cursor: pointer !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(116, 157, 211, 0.12);
  cursor: pointer;
}

/* Track */

::-webkit-scrollbar-track {
  /* background: rgb(46, 44, 44); */
}

/* The track NOT covered by the handle. */
::-webkit-scrollbar-track-piece {
  /* background: #fff; */
}
/* Corner */

::-webkit-scrollbar-corner {
  /* background: red; */
}

/* Resizer */

::-webkit-resizer {
  background: #111;
}

::-moz-selection {
  /* Code for Firefox */
  color: cyan;
  background: transparent;
}

::selection {
  color: cyan;
  background: transparent;
}
